.bad {
    background-image: image(#FF8080);
    background-color: #FF8080;
}
.bad text {
    background-image: image(#FF8080);
    background-color: #FF8080;
}
.unused {
    background-image: image(grey);
    background-color: grey;
}
.unused text {
    background-image: image(grey);
    background-color: grey;
}
